/* =========== Start: Thanh điều hướng =========== */
.body{
    font-family: Arial, "Helvetica Neue", sans-serif;
}
.nav-link{
    color: white !important;
    text-transform: uppercase;
    font-size: 15px;
}
.container .navbar-brand {
    color: white;
    text-transform: uppercase;
    font-size: 17px

}
.navbar {
    background-color: #378C3F;
    position: fixed;
    width: 100%;
    z-index: 50;
    top: 0px;
}

.banner img{
    height: 355px;
    width: 1903px;
}
/* =========== End: Thanh điều hướng =========== */


/*=========== Start: Hồ sơ - Profile ===========*/
#profile-page{
    margin-top: -570px;
    color: white;
}
#profile-page .content .btn{
    background-color: #378C3F;
    color: white;
}

#profile-page img{
    border: 1px solid #378C3F ;
    padding: 7px;
    border-radius:50%;
    height: 180px;
    width: 180px;
}
#profile-page .btn{
    width: 130px;
}
#profile-page #social .box-social a{
    color: white;
    font-size: 30px;
    padding-top: 70px;
    
}
<<<<<<< HEAD
#profile-page #social .fb,
#profile-page #social .ig,
#profile-page #social .gg,
=======
#profile-page #social .gg,
#profile-page #social .ig,
>>>>>>> d6f1ed2ac354368baae3c33842206b99c2630c45
#profile-page #social .tw {
    background-color: #979797;
    padding: 7px;
    border-radius:70%;
    height: 60px;
    width: 60px;
    margin-left: 10px;

}


#profile-page .box-social {
    display: flex;
    justify-content: center;
    
}
#profile-page #social{
    margin-top: 240px;
}
/*=========== End: Hồ sơ - Profile ===========*/


/*=========== Start: Phần thông tin - About ===========*/
#about {
    margin-top: 150px;
    
}

#about .container .card{
    box-shadow: 0.5px 0.5px 15px 0.5px #c7b8b8;
}

#about .container .card .row .col-lg-6 .col-sm-4{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    
}
    
#about .container .card .row .col-lg-6 .h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;

}
/*=========== End: Phần thông tin - About ===========*/


/*=========== Start: Dự án đã làm - Portfolio ===========*/

#portfolio .h4{
    margin-top: 15%;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

#portfolio .laptop {
    background-color: #979797;
    padding: 7px;
    border-radius:70%;
    height: 60px;
    width: 60px;
}
#portfolio .laptop:hover{
    background-color: #378C3F;
}

#portfolio .container .box-icon a{
    color: white;
    font-size: 30px;
    padding-top: 70px;
    
}
#portfolio .img {
    background-color: #979797;
    padding: 7px;
    border-radius:70%;
    height: 60px;
    width: 60px;
    margin-left: 10px;
}
#portfolio .img:hover{
    background-color: #378C3F;
}

#portfolio .cam {
    background-color: #979797;
    padding: 7px;
    border-radius:70%;
    height: 60px;
    width: 60px;
    margin-left: 10px;
}
#portfolio .cam:hover{
    background-color: #378C3F;
}

#portfolio .box-icon {
    display: flex;
    justify-content: center;
    
    
}
/*=========== End: Dự án đã làm - Portfolio ===========*/

/*=========== Start: Kinh nghiệm làm việc - Work experience ===========*/
#experience{
    margin-top: 100px;
}
#experience .container .card{
    box-shadow: 0.5px 0.5px 15px 0.5px #c7b8b8;
    margin-bottom: 35px;
}

#experience .container .h4{
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}

#experience .container .card .col-md-3 {
    background-color: #378C3F;
    border-radius: 2px;
    text-align: center;
    color: white;
}

#experience .container .card .col-md-3 .card-body{
    margin-top: 12%;
}
/*=========== Endt: Kinh nghiệm làm việc - Work experience ===========*/


/*=========== Start: Education - Giáo dục ===========*/
#education{
    margin-top: 100px;
}
#education .container .card{
    box-shadow: 0.5px 0.5px 15px 0.5px #c7b8b8;
    margin-bottom: 35px;
}

#education .container .h4{
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}

#education .container .card .col-md-3 {
    background-color: #378C3F;
    border-radius: 2px;
    text-align: center;
    color: white;
}

#education .container .card .col-md-3 .card-body{
    margin-top: 12%;}
/*=========== Endt: Education - Giáo dục ===========*/

/*=========== Start: Người giới thiệu - References ===========*/
/*=========== End: Người giới thiệu - References ===========*/


/*=========== Start: Contact - Liên hệ ===========*/

#contact .container .cc-contact .row{
    justify-content: center;
 }
#contact .container .cc-contact .row .col-md-9 .card{
     margin: 8%;
}
#contact .container .cc-contact .row .send input {
    background-color: #378C3F;
    border: #378C3F;
    color: white;
}
#contact .container .cc-contact .row .send button{
    background-color: #378C3F;
    border: #378C3F;
    border-radius: 4px;
    height: 40px;
    width: 75px;
}
#contact .container .cc-contact .row .form-group textarea{
    border: none;
    border-bottom: 2px solid #CCC;  
}
/*=========== End: Contact - Liên hệ ===========*/


/*=========== Start: Phần cuối trang - Footer ===========*/
#footer .container a{
    padding-left: 10px;
    font-size: 35px;
    color:  #979797;
    margin-top: 20px;
}
#footer{
    margin-bottom: 3%;
}
#FB:hover{
    color: rgb(36, 36, 138);
}
#GG:hover{
    color: rgb(199, 70, 70);
}
#IG:hover{
    color: rgb(100, 100, 228);
}

/*=========== End: Phần cuối trang - Footer ===========*/

.content__portfolio__title{
    font-size: 1.9rem;
    font-weight: 630;
    letter-spacing: 1.5px;
    color: #1f1f29;
}
.content__portfolio__content--top__list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.content__portfolio__content--top__items{
    margin-right: 20px;
    display: inline-block;
    font-size: 1.3rem;
    color: #9696a1;
    cursor: pointer;
    font-weight: 500;
}
.tent__portfolio__content--top__items--bold{ 
    font-weight: 700;
    color: #424250;
}
.content__portfolio__content--bottom{
    display: flex;
    flex-wrap: wrap;
}
.content__portfolio__content--bottom__container-imgs{
    width: 25%;
    display: flex;
    padding-right: 5px;
    padding-bottom: 5px;
    position: relative;
    cursor: pointer;
    transform: scale(1);
    transition: 0.4s;
}
.content__portfolio__content--bottom__img{
    width: 100%;
}
.content__portfolio__content--bottom__container-imgs__blur{
    display: block;
    position: absolute;
    left: 0;
    right: 5px;
    top: 0;
    bottom: 5px;
    background-color: green;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

#images .container .card{
    border: none;
}
/* #images .container .card .row .col-md-6{
    display: block;
    position: absolute;
    left: 0;
    right: 5px;
    top: 0;
    bottom: 5px;
    background-color: green;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}
#images .container .card{
    width: 25%;
    display: flex;
    padding-right: 5px;
    padding-bottom: 5px;
    position: relative;
    cursor: pointer;
    transform: scale(1);
    transition: 0.4s;
} */