/* =========== Start: Thanh điều hướng =========== */
.body{
    font-family: Arial, "Helvetica Neue", sans-serif;
}
.nav-link{
    color: white !important;
    text-transform: uppercase;
    font-size: 15px;
}
.container .navbar-brand {
    color: white;
    text-transform: uppercase;
    font-size: 17px

}
.navbar {
    background-color: #378C3F;
    position: fixed;
    width: 100%;
    z-index: 50;
    top: 0px;

}
.navbar .navbar-toggler-icon span{
    color: white;
}

header img{
    height: 355px;
    width: 1903px;
}
/* =========== End: Thanh điều hướng =========== */


/*=========== Start: Hồ sơ - Profile ===========*/
#profile-page{
    margin-top: -570px;
    color: white;
}

#profile-page #social .fb {
    background-color: #979797;
    padding: 7px;
    border-radius:70%;
    height: 60px;
    width: 60px;
}
#profile-page img{
    border: 1px solid #378C3F ;
    padding: 7px;
    border-radius:50%;
    height: 180px;
    width: 180px;
}
#profile-page #social .box-social a{
    color: white;
    font-size: 30px;
    padding-top: 70px;
    
}
#profile-page #social .gg {
    background-color: #979797;
    padding: 7px;
    border-radius:70%;
    height: 60px;
    width: 60px;
    margin-left: 10px;

}

#profile-page #social .ig {
    background-color: #979797;
    padding: 7px;
    border-radius:70%;
    height: 60px;
    width: 60px;
    margin-left: 10px;
}
#profile-page #social .tw {
    background-color: #979797;
    padding: 7px;
    border-radius:70%;
    height: 60px;
    width: 60px;
    margin-left: 10px;
}

#profile-page .box-social {
    display: flex;
    justify-content: center;
    
}
#profile-page #social{
    margin-top: 240px;
}
/*=========== End: Hồ sơ - Profile ===========*/


/*=========== Start: Phần thông tin - About ===========*/
#about {
    margin-top: 150px;
    
}

#about .container .card{
    box-shadow: 0.5px 0.5px 15px 0.5px #c7b8b8;
}

#about .container .card .row .col-lg-6 .col-sm-4{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    
}
    
#about .container .card .row .col-lg-6 .h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;

}
/*=========== End: Phần thông tin - About ===========*/


/*=========== Start: Kinh nghiệm làm việc - Work experience ===========*/
#experience{
    margin-top: 100px;
}
#experience .container .card{
    box-shadow: 0.5px 0.5px 15px 0.5px #c7b8b8;
    margin-bottom: 35px;
}

#experience .container .h4{
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}

#experience .container .card .col-md-3 {
    background-color: #378C3F;
    border-radius: 2px;
    text-align: center;
    color: white;
}

#experience .container .card .col-md-3 .card-body{
    margin-top: 12%;
}
/* văn bản */
.col.infor {
    display: flex;
}
.mb-5 {
    margin-top: 50px !important;
}
/* skill */
div.progress-bar {
    animation-name: example;
    animation-duration: 1.5s;
    
}
@keyframes example {
    0% {inline-size: 0%;}
    100% {inline-size: 75%;}
}
.slideanim {
    visibility: hidden;
} 
/*Profolio*/


.gallery .cc-porfolio-image figure {
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  
  .gallery .cc-porfolio-image figure img {
    position: relative;
    display: block;
    max-width: 100%;
    opacity: 1;
  }
  
  .gallery .cc-porfolio-image figure figcaption {
    position: absolute;
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .gallery .cc-porfolio-image figure figcaption,
  .gallery .cc-porfolio-image figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .gallery .cc-porfolio-image figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
  }
  
  .gallery .cc-porfolio-image figure .h4,
  .gallery .cc-porfolio-image figure p {
    margin: 0;
  }
  
  .gallery figure.cc-effect figcaption::before,
  .gallery figure.cc-effect figcaption::after {
    position: absolute;
    content: '';
    opacity: 0;
  }
  
  .gallery figure.cc-effect figcaption::before {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  
  .gallery figure.cc-effect figcaption::after {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  
  .gallery figure.cc-effect .h4 {
    margin-top: 25%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
    opacity: 0;
  }
  
  @media (max-width: 480px) {
    .gallery figure.cc-effect .h4 {
      font-size: 14px;
    }
  }
  
  .gallery figcaption .container {
    position: absolute;
    width: 100%;
    bottom: 20px;
  }
  
  .gallery figure.cc-effect p,
  .gallery figure.cc-effect button {
    padding: 0.5em 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
    opacity: 0;
  }
  
  .gallery figure.cc-effect img,
  .gallery figure.cc-effect .h4 {
    -webkit-transform: scale(1.06, 1.06);
    transform: scale(1.06, 1.06);
  }
  
  .gallery figure.cc-effect img,
  .gallery figure.cc-effect figcaption::before,
  .gallery figure.cc-effect figcaption::after,
  .gallery figure.cc-effect p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  }
  
  .gallery figure.cc-effect:hover img {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .gallery figure.cc-effect:hover figcaption::before,
  .gallery figure.cc-effect:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  
  .gallery figure.cc-effect:hover figcaption:before {
    background: rgba(27, 23, 23, 0.5);
  }
  
  .gallery figure.cc-effect:hover .h4,
  .gallery figure.cc-effect:hover p,
  .gallery figure.cc-effect:hover button {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    color: #fff;
  }
  
  .gallery figure.cc-effect:hover figcaption::after,
  .gallery figure.cc-effect:hover .h4,
  .gallery figure.cc-effect:hover p,
  .gallery figure.cc-effect:hover img {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  

/*Experience*/
.experience{
    margin-top: 100px;
}
.experience .container .card{
    box-shadow: 0.5px 0.5px 15px 0.5px #c7b8b8;
    margin-bottom: 35px;
}

.experience .container .h5{
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}

.experience .container .card .col-md-9 {
    background-color: #378C3F;
    border-radius: 2px;
    text-align: center;
    color: white;
}

.experience .container .card .col-md-9 .card-body{
    margin-top: 12%;
}
/* Education */
.education{
    margin-top: 100px;
}
.education .container .card{
    box-shadow: 0.5px 0.5px 15px 0.5px #c7b8b8;
    margin-bottom: 35px;
}

.education .container .h5{
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}

.education .container .card .col-md-3 {
    background-color: #378C3F;
    border-radius: 2px;
    text-align: center;
    color: white;
}

.education .container .card .col-md-3 .card-body{
    margin-top: 12%;}

/*.progress-container {
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .progress-container .progress-bar {
    height: 5px;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 2s ease-in-out;
    transition: -webkit-transform 2s ease-in-out;
    transition: transform 2s ease-in-out;
    transition: transform 2s ease-in-out, -webkit-transform 2s ease-in-out;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  
  .progress-container .progress {
    height: 5px;
    font-size: 18px;
  }
  
  .progress-container .aos-animate {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
